# ======================
# NODE
# ======================
node_modules/
backend/node_modules/

# ======================
# PYTHON
# ======================
venv/
__pycache__/
*.pyc
*.pyo

# ======================
# DATABASE (IMPORTANT)
# ======================
*.db
*.sqlite3

# ======================
# ENV FILES
# ======================
.env

# ======================
# BUILD FILES
# ======================
dist/
build/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# LARGE / UNWANTED
# ======================
*.exe
*.zip
*.log